<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
         <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

         <!-- jQuery library -->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <!-- Latest compiled JavaScript -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    <body>
    	
    	
        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
  	<img src="{{asset('couvertures/book.jpg')}}" alt=""></a>
  
<!--</nav>
<nav class="navbar navbar-expand-sm bg-light">-->

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{{path('default')}}">tous Les Livres</a>
    </li>
    {%if app.user%}
    <li class="nav-item">
      <a class="nav-link" href="{{path('categorie_index')}}">Gérer Les Catégories</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="{{path('auteur_index')}}">Gérer Les auteurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{path('livre_index')}}">Gérer Les livres</a>
    </li> {%endif%}
  </ul>
  <ul class="navbar-nav">
      {%if app.user%}
      <li><a href="{{path('security_logout')}}" class="nav-link">Déconnexion</a> </li>
      {%else%}
      <li><a href="{{path('security_login')}}" class="nav-link">Connexion</a> </li>
      {%endif%}
  </ul>    

</nav>  <div class="container">
         <!--<div id="demo" class="carousel slide" data-ride="carousel">-->

  <!-- Indicators 
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

   The slideshow 
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="la.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="chicago.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York">
    </div>
  </div>

   Left and right controls 
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>-->

<!--</div>-->
{%block  body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>